<div class="alert alert-success"></div>
<div class="alert alert-danger"></div>
<div class="form-horizontal">
    <div class="form-group" id="app">
        <label class="col-sm-2 control-label">应用</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="appName" value="{{appName}}" appID="{{appID}}" token="{{token}}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="sLogModelName" class="col-sm-2 control-label">日志模型</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="sLogModelName" value="{{sLogModelName}}" disabled>
        </div>
    </div>
    <div id="attributes">
    	{{#each aAttributes}}
        <div class="form-group">
            <label class="col-sm-2 control-label">参数</label>
            <div class="col-sm-2 add_attr">
                <input type="text" class="form-control key" value="{{key}}" disabled>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control value" value="{{value}}" disabled>
            </div>
            <div>
                <div class="btn btn-warning del_attr">删除</div>
            </div>
        </div>
        {{/each}}
        <div class="form-group">
            <label class="col-sm-2 control-label">参数</label>
            <div class="col-sm-2 add_attr">
                <input type="text" class="form-control key" placeholder="名称">
            </div>
            <div class="col-sm-2">
	            {{{attrValue}}}
            </div>
            <div>
                <div class="btn btn-warning del_attr">删除</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <div class="btn btn-default cancel_logmodel">取消</div>
        </div>
        <div class="col-sm-2">
            <div class="btn btn-primary update_logmodel">保存</div>
        </div>
    </div>
</div>