<div class="alert alert-success"></div>
<div class="alert alert-danger"></div>
<div class="form-horizontal">
    <div class="form-group" id="app">
        <label class="col-sm-2 control-label">应用</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="appName" value="{{appName}}" appID="{{appID}}" token="{{token}}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">日志名称</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="sLogModelCname" value="{{cname}}">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="sLogModelName" value="{{name}}" disabled>
        </div>
    </div>
    <div id="attributes">
        {{#each attr}}
        <div class="form-group">
            <label class="col-sm-2 control-label">参数</label>
            <div class="col-sm-2">
                <input type="text" class="form-control cname" value="{{cname}}">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control name" value="{{name}}" disabled>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control data-type" value="{{dataType}}" disabled>
            </div>
        </div>
        {{/each}}
        <div class="form-group attr_tpl">
            <label class="col-sm-2 control-label">参数</label>
            <div class="col-sm-2">
                <input type="text" class="form-control cname" placeholder="中文全称">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control name" placeholder="英文缩写">
            </div>
            <div class="col-sm-2">
                {{{sDataType}}}
            </div>
            <div>
                <div class="btn btn-warning del_attr">删除</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <div class="btn btn-default add_attr">添加参数</div>
        </div>
        <div class="btn btn-default cancel_logmodel">取消</div>
        <div class="btn btn-primary update_logmodel">保存</div>
    </div>
    <div class="form-group attr_tpl">
        <label class="col-sm-2 control-label">参数</label>
        <div class="col-sm-2">
            <input type="text" class="form-control key" placeholder="名称">
        </div>
        <div class="col-sm-2">
            {{{sDataType}}}
        </div>
        <div>
            <div class="btn btn-warning del_attr">删除</div>
        </div>
    </div>
</div>